* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    object-fit: cover;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    
}

//ЦВЕТА
$gold: #E1B168; // для button и для остольных жёлтых цветов!
$gray: #555555; //для текстов
$dark-gray: #292E36; // для секции с чёрным фоном


//MИКСИНЫ
// для текстов если леттер спейсинга нету поставить 0
@mixin text ($f, $fs, $fw, $lh, $let) {
    font-family: $f;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $let;
}

// для flex
@mixin flex ($jus, $ai) {
    display: flex;
    justify-content: $jus;
    align-items: $ai;
}

// для grid сетки
@mixin grid ($gtc, $gap) {
    display: grid;
    grid-template-columns: $gtc;
    gap: $gap;
}

// ШАБЛОНЫ
%btn {
    position: relative;
    padding: 20px 57px;
    background: transparent;
    border: 2px solid $gold;
    @include text ('Josefin Sans', 22px, 400, 33px, 0.2px);
    color: $gold;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $gold;
        z-index: -1;
        transition: .5s;
    }

    &:hover::before {
        width: 100%;

    }

    &:hover {
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 15px $gold;
    }

    &:active::before {
        background: transparent;
    }
}
%btn2 {
    position: relative;
    padding: 20px 87px;
    border: 2px solid $gold;
    background: $gold;
    @include text ('Josefin Sans', 22px, 400, 33px, 0.2px);
    color: white;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $dark-gray;
        z-index: -1;
        transition: .5s;
    }

    &:hover::before {
        width: 100%;

    }

    &:hover {
        color: $gold;
        border-radius: 5px;
        box-shadow: 0 0 15px $gold;
    }

    &:active::before {
        background: $gold;
    }
    &:active {
        color: white;
    }
}
// prosto
%davlat {
    max-width: 100%;
        background: #FFF8F5;
}
%davlat1 {
    max-width: 1360px;
            margin: 0 auto;
            @include flex (space-between, center);
}
%txt {
    h3 {
        @include text ('Cormorant Infant', 40px, 400, 56px, 0.2);
        color: $dark-gray;
        margin-bottom: 15px;
    }
    p {
        @include text ('Josefin Sans', 20px, 400, 30px, 0.2px);
        color: $gray;
    }
}
@mixin section-name($w) {
    @include text("Josefin Sans", 15px, 400, 22.5px, 3px);
    color: $dark-gray;
    &::before,
    &::after {
        content: "";
        display: block;
        width: $w;
        height: 1px;
        background: $gold;
    }
}

%section-title {
    @include text("Cormorant Infant", 40px, 400, 56px, 0);
    color: $dark-gray;
    text-align: center;
    text-transform: capitalize;
}

%section-subtitle {
    @include text("Josefin Sans", 20px, 400, 30px, 0);
    color: $gray;
    text-align: center;
}