* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.welcome .welcome_in .welcome_text button, .header .header_first .call {
  position: relative;
  padding: 20px 57px;
  background: transparent;
  border: 2px solid #E1B168;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #E1B168;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.welcome .welcome_in .welcome_text button::before, .header .header_first .call::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #E1B168;
  z-index: -1;
  transition: 0.5s;
}
.welcome .welcome_in .welcome_text button:hover::before, .header .header_first .call:hover::before {
  width: 100%;
}
.welcome .welcome_in .welcome_text button:hover, .header .header_first .call:hover {
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px #E1B168;
}
.welcome .welcome_in .welcome_text button:active::before, .header .header_first .call:active::before {
  background: transparent;
}

.header .header_first .reservation {
  position: relative;
  padding: 20px 87px;
  border: 2px solid #E1B168;
  background: #E1B168;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: white;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.header .header_first .reservation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #292E36;
  z-index: -1;
  transition: 0.5s;
}
.header .header_first .reservation:hover::before {
  width: 100%;
}
.header .header_first .reservation:hover {
  color: #E1B168;
  border-radius: 5px;
  box-shadow: 0 0 15px #E1B168;
}
.header .header_first .reservation:active::before {
  background: #E1B168;
}
.header .header_first .reservation:active {
  color: white;
}

.main .story, .main .about {
  max-width: 100%;
  background: #FFF8F5;
}

.main .story .story_in, .main .about .about_locate {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .story .story_in .story_text .year .new h3, .main .story .story_in .story_text .year .old h3, .main .story .story_in .story_text .delicios h3 {
  font-family: "Cormorant Infant";
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.2;
  color: #292E36;
  margin-bottom: 15px;
}
.main .story .story_in .story_text .year .new p, .main .story .story_in .story_text .year .old p, .main .story .story_in .story_text .delicios p {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}

.header {
  position: relative;
  height: 270px;
  max-width: 100%;
  background: #292E36;
}
.header span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header span img {
  width: 100%;
}
.header .header_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  height: 270px;
}
.header .header_second {
  max-width: 100%;
  height: 82px;
  background: #292E36;
}
.header .header_second .navbar {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_second .navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 82px;
}
.header .header_second .navbar ul li {
  list-style: none;
  margin-right: 60px;
}
.header .header_second .navbar ul li a {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  transition: 300ms;
}
.header .header_second .navbar ul li a:hover {
  color: #E1B168;
}
.header .header_second .navbar ul li .active_hover {
  color: #E1B168;
}
.header .header_second .navbar .icons a {
  margin-left: 20px;
  opacity: 0.8;
  transition: 300ms;
}
.header .header_second .navbar .icons a:hover {
  opacity: 1;
}

.welcome {
  max-width: 100%;
  background: #292E36;
  margin-top: 82px;
  padding: 27px 0 0 0;
}
.welcome .welcome_in {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome .welcome_in .welcome_text {
  width: 630px;
}
.welcome .welcome_in .welcome_text h1 {
  font-family: "Cormorant Infant";
  font-size: 100px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 0.2px;
  color: white;
}
.welcome .welcome_in .welcome_text p {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
  padding-top: 12px;
}
.welcome .welcome_in .welcome_text button {
  padding: 0;
  width: 230px;
  height: 73px;
  margin-top: 35px;
}

.main .about {
  height: 243px;
}
.main .about .about_locate {
  height: 243px;
}
.main .about .about_locate .locate_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about .about_locate .locate_block img {
  cursor: pointer;
  transform: scale(1);
  transition: 300ms;
}
.main .about .about_locate .locate_block img:hover {
  transform: scale(1.1);
}
.main .about .about_locate .locate_block .locate_text {
  margin-left: 20px;
}
.main .about .about_locate .locate_block .locate_text h3 {
  font-family: "Cormorant Infant";
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.2;
  color: #292E36;
}
.main .about .about_locate .locate_block .locate_text p {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}
.main .story {
  padding-top: 85px;
  padding-bottom: 100px;
}
.main .story .story_in img {
  margin-right: 45px;
}
.main .story .story_in .story_text .delicios {
  margin-bottom: 25px;
}
.main .story .story_in .story_text .year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}