* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

.header .header_first .call {
  position: relative;
  padding: 20px 57px;
  background: transparent;
  border: 2px solid #E1B168;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #E1B168;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.header .header_first .call::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #E1B168;
  z-index: -1;
  transition: 0.5s;
}
.header .header_first .call:hover::before {
  width: 100%;
}
.header .header_first .call:hover {
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px #E1B168;
}
.header .header_first .call:active::before {
  background: black;
}

.header .header_first .reservation {
  position: relative;
  padding: 20px 87px;
  border: 2px solid #E1B168;
  background: #E1B168;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: white;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.header .header_first .reservation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #292E36;
  z-index: -1;
  transition: 0.5s;
}
.header .header_first .reservation:hover::before {
  width: 100%;
}
.header .header_first .reservation:hover {
  color: #E1B168;
  border-radius: 5px;
  box-shadow: 0 0 15px #E1B168;
}
.header .header_first .reservation:active::before {
  background: #E1B168;
  color: black;
}

.header {
  position: relative;
  height: 270px;
  max-width: 100%;
  background: #292E36;
}
.header span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header span img {
  width: 100%;
}
.header .header_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  height: 270px;
}
.header .header_second {
  max-width: 100%;
  height: 82px;
  background: #292E36;
}
.header .header_second .navbar {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_second .navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 82px;
}
.header .header_second .navbar ul li {
  list-style: none;
  margin-right: 60px;
}
.header .header_second .navbar ul li a {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  transition: 300ms;
}
.header .header_second .navbar ul li a:hover {
  color: #E1B168;
}
.header .header_second .navbar ul li .active_hover {
  color: #E1B168;
}
.header .header_second .navbar .icons a {
  margin-left: 20px;
  opacity: 0.8;
  transition: 300ms;
}
.header .header_second .navbar .icons a:hover {
  opacity: 1;
}