.book {
    .container {
        padding: 140px 260px;
        background-image: url(../img/reservation/reservation-bg.png);
        @extend %bg-position;
        display: grid;
        place-content: center;
    }

    &__form-wrap {
        padding: 140px 140px 140px 155px;
        background-color: rgba($dark-gray, 95%);
    }

    .form__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__form-name {
        @include section-name(143px, $gold);
        color: #FFF;
    }

    &__form-title {
        @include text(Cormorant Infant, 40px, 400, 56px, 0.2px);
        color: #FFF;
        text-align: center;
        text-transform: capitalize;
    }

    .form__input {
        margin-top: 38px;
        display: grid;
        grid-template-columns: repeat(6, 141px);
        grid-template-rows: repeat(2, 70px);
        gap: 25px;
        grid-template-areas:
            "name1 name1 name1 email email email"
            "select select timing timing date date";

        &-name {
            grid-area: name1;
            outline: none;
            background: transparent;
            border: 1px solid #858585;
            @include text(Josefin Sans, 22px, 400, 33px, 0.2px);
            color: #FFF;
            padding: 22px 19px;

        }

        &-email {
            grid-area: email;
            background: transparent;
            border: 1px solid #858585;
            @include text(Josefin Sans, 22px, 400, 33px, 0.2px);
            color: #FFF;
            padding: 22px 19px;

        }

        &-select {
            grid-area: select;
            background: transparent;
            border: 1px solid #858585;
            @include text(Josefin Sans, 22px, 400, 33px, 0.2px);
            color: #FFF;
            padding: 22px 19px;
        }

        &-time {
            grid-area: timing;
            background: transparent;
            border: 1px solid #858585;
            @include text(Josefin Sans, 22px, 400, 33px, 0.2px);
            color: #FFF;
            padding: 22px 19px;
        }

        &-date {
            grid-area: date;
            background: transparent;
            border: 1px solid #858585;
            @include text(Josefin Sans, 22px, 400, 33px, 0.2px);
            color: #FFF;
            padding: 22px 19px;
        }
    }

    &__form-btn {
        padding: 23px 54px;
        background-color: #FFF;
        margin: 30px auto 0;
        display: block;
        cursor: pointer;

        @include text(Josefin Sans, 22px, 400, 33px, 0.2px);
        text-transform: capitalize;
        color: #000;
        text-align: center;
        transition: .5s;

        position: relative;
        z-index: 1;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $dark-gray;
            z-index: -1;
            transition: .5s;
        }

        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: white;
            box-shadow: 0 0 15px white;
        }

        &:active {
            transform: translateY(2px);
        }
    }
}